################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Amaigoma/.vs/Amaigoma
/Amaigoma/bin
/Amaigoma/obj
/Amaigoma/_NCrunch_Amaigoma
*.user
/AmaigomaConsole/bin
/AmaigomaConsole/obj
/AmaigomaTests/bin
/AmaigomaTests/obj
Amaigoma/Amaigoma.v3.ncrunchsolution