################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Amaigoma/.vs/Amaigoma
/Amaigoma/bin
/Amaigoma/obj
/Amaigoma/_NCrunch_Amaigoma
*.user
/AmaigomaConsole/bin
/AmaigomaConsole/obj
/AmaigomaTests/bin
/AmaigomaTests/obj
Amaigoma/Amaigoma.v3.ncrunchsolution
.vs/Amaigoma/DesignTimeBuild/.dtbcache.v2
.vs/Amaigoma/v16/.suo
.vs/Amaigoma/v16/TestStore/0/000.testlog
.vs/Amaigoma/v16/TestStore/0/testlog.manifest
_NCrunch_Amaigoma/Amaigoma.crunchsolution.cache
_NCrunch_Amaigoma/Amaigoma.executiontimes.cache
