################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/Amaigoma/bin
/Amaigoma/obj
/Amaigoma/_NCrunch_Amaigoma
*.user
/AmaigomaConsole/bin
/AmaigomaConsole/obj
/AmaigomaTests/bin
/AmaigomaTests/obj
Amaigoma/Amaigoma.v3.ncrunchsolution
_NCrunch_Amaigoma
/AmaigomaConsole/Properties/launchSettings.json
